@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Aminute";
  font-size: 16px;
  font-weight: normal;
  background: #000;
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 0.521vw;
}

/* !==================================
    !HomePage start
!================================== */

/* -- header area start -- */
header {
  position: relative;
  padding: 1rem 0rem;
}

header:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}

header .container {
  max-width: 180rem;
}

.header_wrapper {
  display: flex;
  align-items: center;
}

.header_logo img {
  display: inline-block;
  width: 18rem;
}

.header_logo {
  width: 30rem;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-left: 1px solid #fde3a7;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header_menu_left ul li {
  display: inline-block;
}

.header_menu_left ul li a {
  display: inline-block;
  color: #fff5dd;
  opacity: 0.5;
  margin-right: 3rem;
  font-size: 1.8rem;
  transition: all 0.2s ease;
}

.header_menu_left ul li a.active {
  opacity: 1;
}

.header_menu_left ul li a:hover {
  opacity: 1;
}

.header_menu_work a {
  display: inline-block;
  color: #fff5dd;
  font-size: 1.8rem;
  position: relative;
  transition: all 0.2s ease;
}

.header_menu_work a span {
  display: inline-block;
  width: 0.9rem;
  position: absolute;
  top: -1.2rem;
  right: -1rem;
}

.header_menu_work a:hover {
  opacity: 0.7;
}
/* -- header area end -- */

/* -- hero area start -- */
.hero_wrapper img {
  display: block;
  width: 100%;
}
/* -- hero area end -- */

/* -- memory aera start -- */
#memory .container {
  max-width: 150rem;
}

.memory_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  align-items: center;
}

.memory_left img {
  display: block;
  width: 100%;
}

.memory_right h2 {
  color: #fff5dd;
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin-bottom: 10rem;
}

.memory_right > p {
  color: #fde3a7;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 195%;
}

.memory_bar_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.memory_bar_name p {
  color: #fff5dd;
  font-size: 1.8rem;
  font-weight: 400;
}

.memory_bar_line {
  width: 100%;
  height: 0.4rem;
  background: rgba(255, 245, 221, 0.3);
  border-radius: 0.8rem;
  margin-top: 1.2rem;
}

.memory_bar_line span {
  display: block;
  width: 90%;
  height: 100%;
  background-color: #9c4a38;
}

.memory_bar {
  margin-top: 6rem;
}

.memory_bar_item {
  margin-bottom: 4rem;
}

.percent80 .memory_bar_name {
  width: 80%;
}

.percent80 .memory_bar_line span {
  width: 80%;
}

.percent85 .memory_bar_name {
  width: 85%;
}

.percent85 .memory_bar_line span {
  width: 85%;
}

.percent75 .memory_bar_name {
  width: 75%;
}

.percent75 .memory_bar_line span {
  width: 75%;
}

#memory {
  padding: 10rem 0rem;
  position: relative;
}

#memory:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}
/* -- memory aera end -- */

/* -- creative area start -- */
#creative .container {
  max-width: 160rem;
}

.creative_wrapper h3 {
  color: #fff5dd;
  text-align: center;
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 9.69px;
}

.ct_heading p {
  color: #fde3a7;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 195%;
}

.ct_heading p span {
  color: rgba(253, 227, 167, 0.5);
}

.ct_pera p {
  margin-top: 4rem;
  color: #fde3a7;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 195%;
  letter-spacing: 0.25rem;
}

.creative_box_left {
  padding-right: 10rem;
}

.creative_box_right {
  padding-left: 10rem;
}

#creative .owl-item .item {
  transform: translate3d(0, 0, 0);
  margin: 50px 0;
}

#creative .owl-item .item img {
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#creative .owl-item.center .item img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

#creative .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
}

#creative .owl-theme .owl-dots .owl-dot span {
  transform: scale(0.9);
  margin: 4px;
  background-color: #999999;
  width: 1rem;
  height: 1rem;
}

.owl-theme .owl-dots .active span {
  background-color: #7b61ff !important;
  transform: scale(1.2);
}

.creative_box_right {
  position: relative;
}

.s1nav span img {
  display: inline-block;
  width: 2.2rem;
}

.s1nav span {
  display: inline-block;
  cursor: pointer;
}

.s1nav span#left {
  position: absolute;
  left: 40%;
  bottom: 0.5rem;
  z-index: 999;
}

.s1nav span#right {
  position: absolute;
  right: 27%;
  bottom: 0.5rem;
  z-index: 999;
}

.creative_box {
  margin-top: 10rem;
}

.creative_box2 .creative_box_right {
  padding-left: 0;
  padding-right: 10rem;
}

.creative_box2 .creative_box_left {
  padding-right: 0;
  padding-left: 10rem;
}

.s1nav span.left2 {
  left: 28% !important;
}

.s1nav span.right2 {
  right: 40% !important;
}

.item img {
  border-radius: 2rem !important;
}
/* -- creative area end -- */

/* -- promise area start -- */
#promise .container {
  max-width: 150rem;
}

.promise_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 13rem;
  align-items: center;
}

.promise_left img {
  width: 100%;
  display: block;
}

.promise_right p {
  color: #fde3a7;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 231%;
  letter-spacing: 3.6px;
}

#creative {
  padding: 10rem 0rem;
  position: relative;
}

#creative:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}

#promise {
  padding: 10rem 0rem;
}

#promise_block .container {
  max-width: 180rem;
}

.promise_block_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20rem;
}

.promise_item img {
  display: block;
  width: 100%;
}

.promise_item p {
  color: #fde3a7;
  text-align: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2.4px;
  margin-top: 4rem;
}

#promise_block {
  padding-bottom: 10rem;
  position: relative;
}

#promise_block:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}
/* -- promise area end -- */

/* -- contact area start -- */
#contact .container {
  max-width: 150rem;
}

.contact_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact_left h2 {
  color: #fff5dd;
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.contact_left_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact_left_item {
  margin-top: 6rem;
  display: flex;
  gap: 1.5rem;
}

.contact_left_item img {
  display: inline-block;
  width: 3.3rem;
}

.cli_right h4 {
  color: #fff5dd;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.cli_right p {
  color: #fde3a7;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 195%;
}

.input_name-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.contact_input_grp input,
.contact_input_grp textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff5dd;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 195%;
  border-bottom: 1px solid #fde3a7;
  padding-bottom: 1.2rem;
}

.contact_input_grp input::placeholder,
.contact_input_grp textarea::placeholder {
  opacity: 1;
  color: #fff5dd;
}

.contact_input_grp {
  margin-bottom: 4rem;
}

.contact_input_grp textarea {
  height: 12.5rem;
  resize: none;
  -webkit-resize: none;
  -moz-resize: none;
}

.contact_right_wrapper button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 195%;
  border: 0;
  outline: none;
  background-color: transparent;
  border: 2px solid #fde3a7;
  padding: 1rem 5rem;
  position: relative;
  z-index: 9;
  transition: all 0.2s ease;
}

.contact_right_wrapper button:after {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background-color: #fde3a7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

.contact_right_wrapper button:hover {
  color: #000;
}

.contact_right_wrapper button:hover:after {
  width: 100%;
}

#contact {
  padding: 10rem 0rem;
}

.bar {
  width: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99999999;
}

.bar span {
  transition: all 0.3s ease;
}

.bar.open {
  top: 0.8rem;
}

.bar.open span:nth-child(2) {
  transform: scaleX(0);
}

.bar.open span:nth-child(1) {
  transform: rotate(45deg);
}

.bar.open span:nth-child(3) {
  transform: rotate(-45deg) translate(1.6rem, -1.5rem);
}

.bar span {
  display: block;
  width: 100%;
  height: 0.4rem;
  border-radius: 1rem;
  background-color: #fff;
}

.bar span:nth-child(2) {
  margin: 0.7rem 0rem;
}

.openMenu {
  left: 0 !important;
}

#hero {
  position: relative;
}

#hero:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}

/* -- contact area end -- */

/* !==================================
    !HomePage end
!================================== */

/* !==================================
    !Picture start
!================================== */

/* -- pic_hero area start -- */
.pic_hero_wrapper img {
  display: block;
  width: 100%;
}

#pic_hero .container {
  max-width: 175rem;
}

#pic_hero {
  padding: 10rem 0rem;
}

.pic_hero_wrapper {
  position: relative;
}

.pic_hero_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pic_hero_text h2 {
  color: #fff5dd;
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3rem;
}

.pic_hero_text p {
  color: #fde3a7;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
/* -- pic_hero area end -- */

/* -- pslider area start -- */
#pslider .owl-dots {
  position: relative;
  top: -6rem !important;
}

#pslider {
  position: relative;
}

.psnav span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 6%;
  top: 50%;
  z-index: 9999;
}

.psnav span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 6%;
  top: 50%;
  z-index: 9999;
}

.psnav span#rightarrow {
  left: inherit;
  right: 6%;
}

.psnav span img {
  display: inline-block;
  width: 4rem;
}
/* -- pslider area end -- */

/* -- work area start -- */
#work {
  padding: 8rem 0rem;
  position: relative;
}

.work_number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.work_number p {
  color: #8a8888;
  font-size: 2.4rem;
}

.work_number span {
  display: block;
  width: 10rem;
  height: 0.2rem;
  background: #efefef;
}

.work_wrapper h2 {
  color: #fff5dd;
  text-align: center;
  font-size: 6.6rem;
  line-height: 1;
  margin: 30px 0px;
}

.work_wrapper p {
  color: #fde3a7;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
}

.work_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8rem;
}

.workitem_left {
  border: 1px solid #333;
  padding: 11.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.workitem_left h2 {
  color: #fff5dd;
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 3rem;
}

.workitem_left p {
  color: #fde3a7;
  font-size: 1.6rem;
  line-height: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.workitem_right {
  padding: 0px 11.3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.workitem_right img {
  display: block;
  width: 100%;
}

#work:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}
/* -- work area end -- */

/* !==================================
    !Picture end
!================================== */

/* !==================================
    !work start
!================================== */

/* -- workimages area start -- */
#workimages .container {
  max-width: 170rem;
}

.workimages_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 10rem;
}

.work_item_grid img {
  display: block;
  width: 100%;
}

#workimages {
  padding: 10rem 0rem;
  position: relative;
}

#workimages:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}

/* -- workimages area end -- */

/* !==================================
    !work end
!================================== */

/* !==================================
    !films start
!================================== */

.films_item {
  margin-top: 8rem;
}

.films_item iframe {
  display: block;
  width: 100%;
  height: 75rem;
}

#films {
  position: relative;
  padding-bottom: 8rem;
}

#films:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(139deg, #dcbb8e -9.48%, #b08868 113.61%);
}

#work .container {
  max-width: 160rem;
}

/* !==================================
    !films end
!================================== */
